.section{
  width: 60%;
  padding: 1rem;
  .main{
    display: flex;
    .img{
      background-color:#00987e;
      padding: 4rem;
      width: fit-content;
      height: fit-content;
      border-radius: 1rem;
      font-size: 5rem;
      color: white;
    }
    .details{
      span:first-child{
        font-weight: bold;
        color: #00ffc6;
      }
      span{
        font-size: 13px;
        line-height: 5mm;
        color: grey;
      }
      padding: 1rem;
      margin: 0 2rem;
      div{
        margin: 1rem 0;
        display: flex;
        align-items: center;
      }
    }
  }
}