.container {
  padding: 5em 0;
  margin: 0 auto;
  max-width: 992px;
  display: flex;
  justify-content: center;
  height: max-content;
  .section {
    width: 65%;
    padding: 1rem 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    margin-right: 2rem;
    .main {
      margin-bottom: 3rem;
      display: flex;
      .img {
        background-color: #00987e;
        padding: 2rem 3rem;
        width: fit-content;
        height: fit-content;
        border-radius: 1rem;
        font-size: 5rem;
        color: white;
      }

      .details {
        margin-left: 2rem;

        span {
          font-size: 13px;
          line-height: 5mm;
          margin-left: 0.4rem;
        }

        span:nth-child(4) {
          color: grey;
        }

        div:first-child {
          justify-content: space-between;

          span:first-child {
            color: #00ffc6;
          }

          span {
            font-weight: bold;
            font-size: 15px;
            color: grey;
          }
        }

        div {
          margin: 0.5rem 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .aside{
    width: 35%;
  }
}