.main{
  margin: 1rem 0;
  .header{
    border-bottom: 3px solid #00ffc3;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    div{
      margin-bottom: 0.5rem;
    }
    div:nth-child(2){
      display: flex;
      align-items: center;
      span{
        margin-left: 0.5rem;
        color: grey;
      }
    }
  }
  min-height: 100px;
}